/* This design is scalable. Try changing the --size value */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: black;
  display: grid;
  place-items: center;
  margin: 100px auto;
}

.wrapper{
  --size: 250px;
  
  rotate: -30deg;
  display: grid;
  place-items: center;
  transform-style: preserve-3d; /* This line is essential for the 3d look of this blackhole. It essentially converts the objects to 3d and they become aware of other elements*/
}

.hole{
  content: "";
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px calc(-0.06*var(--size)) calc(0.28*var(--size)) calc(0.08*var(--size)) #D84528; 
  position: relative;
  filter: blur(1px);
}

.disc{
  content: "";
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  rotate: x 80deg;
  position: absolute;
}

.disc.i{
  transform: scale(1.2);
  box-shadow: 0px 0px calc(0.752*var(--size)) calc(0.192*var(--size)) #EB8E27;
  filter: blur(calc(0.04*var(--size)));
}

.disc.m{
  transform: scale(1.5);
  box-shadow:  0px 0px calc(0.752*var(--size)) calc(0.192*var(--size)) #E26928, inset 0px 0px calc(0.12*var(--size)) calc(0.024*var(--size)) #E26928;
  filter: blur(calc(0.04*var(--size)));
}

.disc.o{
  transform: scale(2);
  box-shadow: 0px 0px calc(0.752*var(--size)) calc(0.192*var(--size)) #D84528, inset 0px 0px calc(0.16*var(--size)) calc(0.024*var(--size)) #D84528;
  filter: blur(calc(0.06*var(--size)));
}

.light{
  content:"";
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0px calc(0.04*var(--size)) 0px 0px #fff;
  animation: 0.01s rotate linear infinite;
  filter: blur(calc(0.02*var(--size)));
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
